upload_max_filesize = 30M
post_max_size = 80M
short_open_tag = Off
memory_limit =  256M

[mysqld]
max_allowed_packet= 1024M
#general_log = 1
#general_log_file = /var/lib/mysql/general.log
#wait_timeout = 1800 
#connect_timeout = 120